// Body
$body-bg: #FFFDFD;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary:#B4B3B8;
/* $secondary:
$success:
$info:
$warning:*/
$danger:#FF0004;
$light:#FFFDFD;
$dark:#0C0910;

